<!-- using ejs-mate -->
<% layout("./layout/employee") %>
<div class="row mt-5">
    <div class="alert alert-danger" role="alert">
        <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
        <p class="alert-heading"><%= err.message %></h4>
        <!-- <p><%= err.stack %></p> -->
    </div>
</div>
