<% layout("./layout/admin") %>
  <div class="sarthakquerypage">
  <form  action="/admin/<%= id %>/query/add" method="post" id="myForm" style="display: flex;">
    <div>
      <input type="text" id="query" name="query" placeholder="Enter the query" autocomplete="off" autofocus="true" style="width: 500px;" required>
      <%if(promptcheck=="false"){%>
        <div style="color: red; margin-left: 500px;"> Invalid Prompt </div>
      <%}%>
    </div>
    <div>
      <button class="add" type="submit" name="list" id="query_Submit" style="justify-self: center; margin-top: 10px;">Submit</button>
    </div>
  </form>
  </div>
<%if(answer.length>0){%>
  <div class="center" id="table-id" ><!--hidden class-->
  <table>
    <%let i=0;%>
    <%for(let object of answer){%>
      <%if(i==0){i=1;%>
      <tr>
        <%for(let key in object){%>
        <th><%=key%></th>
        <%}%>
      </tr>
      <%}%>
      <tr>
        <%for(let key in object){%>
        <td><%=object[key]%></td>
        <%}%>
      </tr>
    <%}%>
  </table>
  </div>
  <div class="center" id="download"><!--hidden class-->
    <form action="/admin/<%= id %>/query/export/excel" method="get">
      <button type="submit" id="downloadBtn">Download</button>
   </form>
  </div>
<%}%>